<div class="container">
  <div class="row">
    <div class="col-sm-5">
        <%if @event.photo.attached?%>
          <%= image_tag @event.photo, alt: 'photo', style: 'width: 100%' %>
        <%else%>
          <h2 class="text-muted">Aucune photo</h2>
        <%end%>
    </div>
    <div class="col-sm-7">
      <h1><%= @event.title %></h1>
      <h4 class="text-capitalize">
          par <a href="<%= user_path(@event.user.id) %>"><%= @event.user.first_name %> <%= @event.user.last_name %></a>
      </h4>
      <table class="table">
        <tr>
          <th>Début</th>
          <td><%= @event.start_date %></td>
        </tr>
        <tr>
          <th>Durée</th>
          <td><%= @event.duration %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= @event.description %></td>
        </tr>
        <tr>
          <th>Prix</th>
          <td>$<%= @event.price %></td>
        </tr>
        <tr>
          <th>Lieu</th>
          <td><%= @event.location %></td>
        </tr>
      </table>

      <a href="<%= new_event_attendance_path(@event.id) %>" class="btn btn-primary">Participer à l'évènement</a>
      <a href="<%= event_attendances_path(@event.id) %>" class="btn btn-primary">Liste des participants</a>
    </div>
  </div>
</div>
